<div class="primary-style">
	<mat-toolbar class="hdr">Mijalis for Year 2020: </mat-toolbar>
	<mat-accordion>
		<!-- April-->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="olddatehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title class="calendar-month">
					<i class="material-icons calendar-icon">
						event_busy
					</i>&nbsp;&nbsp; <b>Past Mijalis of 2020&nbsp;</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<mat-list>
					<mat-expansion-panel *ngFor="let event of oldMijalis">
						<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
							<mat-panel-title class="calendar-month">
								<i class="material-icons calendar-icon">
									calendar_today
								</i>&nbsp;&nbsp; <b>{{event[0]}}&nbsp;</b> - {{event[1]}}
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							<mat-list class="calendar-events" *ngFor="let date of event[2]">
								<mat-list-item>&#9673;&nbsp;<b> {{date[0]}}</b>: {{date[1]}}</mat-list-item>
							</mat-list>
						</div>
					</mat-expansion-panel>
				</mat-list>
			</div>
		</mat-expansion-panel>
		<mat-expansion-panel *ngFor="let event of mijalis">
			<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title class="calendar-month">
					<i class="material-icons calendar-icon">
						calendar_today
					</i>&nbsp;&nbsp; <b>{{event[0]}}&nbsp;</b> - {{event[1]}}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<mat-list class="calendar-events" *ngFor="let date of event[2]">
					<mat-list-item>&#9673;&nbsp;<b> {{date[0]}}</b>: {{date[1]}}</mat-list-item>
				</mat-list>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>