<div class="primary-style">
	<mat-toolbar class="hdr">Mijalis for Year 2020: </mat-toolbar>
	<mat-accordion>
		<!-- April-->
		<mat-expansion-panel *ngFor="let event of mijalis">
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title class="calendar-month">
					<i class="material-icons calendar-icon">
						calendar_today
					</i>&nbsp;&nbsp; <b>{{event[0]}}&nbsp;</b> - {{event[1]}}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<mat-list class="calendar-events" *ngFor="let date of event[2]">
					<mat-list-item>&#9673;&nbsp;<b> {{date[0]}}</b>: {{date[1]}}</mat-list-item>
				</mat-list>
				<mat-divider></mat-divider>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>