<div class="more-info">
	<mat-card>Information about some local resources (DC Metro Area):<br>
		<hr>
		<a href="https://www.fairfaxcounty.gov/health/novel-coronavirus" target="_blank"><button
				class="button enroll">Fairfax
				County</button></a>
		<a href="https://montgomerycountymd.gov/hhs/rightnav/coronavirus.html" target="_blank"><button
				class="button enroll">Montgomery
				County</button></a>
		<a href="https://coronavirus.dc.gov" target="_blank"><button class="button enroll">Washington D.C.</button></a>
		<a href="https://www.loudoun.gov/5307/Coronavirus" target="_blank"><button class="button enroll">Loudoun
				County</button></a>
		<a
			href="https://wordpress.us12.list-manage.com/track/click?u=1431958df361c78827250dcb4&id=699d566bf8&e=2b38459c75"><button
				class="button enroll" target="_blank">Arlington County</button></a>
		<a href="https://www.alexandriava.gov/Coronavirus" target="_blank"><button class="button enroll">Alexandria
				County</button></a>
		<a href="https://www.princegeorgescountymd.gov/3397/Coronavirus" target="_blank"><button
				class="button enroll">PG
				County</button></a>
		<a href="https://wordpress.us12.list-manage.com/track/click?u=1431958df361c78827250dcb4&id=728402e42c&e=2b38459c75"
			target="_blank"><button class="button enroll">Baltimore County</button></a>
	</mat-card><br>
	<mat-card>
		Some important resources from the offical sources: <br>
		<hr><a href="https://the.ismaili/usa/covid-19-updates" target="_blank"><button
				class="button news theismaili">The
				Ismaili USA:
				COVID-19 Official Updates</button></a><br>
		<a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank"><button
				class="button news cdc">CDC (Centers for
				Disease Control and Prevention): Coronavirus
				(COVID)-19)</button></a><br>
		<a href="https://focus-usa.org/2019-ncov/" target="_blank"><button class="button news focususa">FOCUS
				Humanitarian USA: 2019
				Novel Coronavirus Update</button></a><br>
		<a href="https://the.ismaili/usa/our-community/message-the-ismaili-council-the-usa" target="_blank"><button
				class="button news messagecouncil">Message from the Ismaili Council for the USA</button></a><br>
		<hr>
		<span class="the-source">Source: <a href="https://the.ismaili/global/covid-19-updates/resources"
				target="_blank"><button class="button info-btn">the.ismaili
				</button></a></span>
	</mat-card>
</div>