<div class="primary-style">
	<p class="intro-two">RE is an opportunity for students to learn about our faith, the values that it brings and what
		it means for our children to be Shia Ismaili Muslims. <b>We want to continue this learning, and provide access
			to
			RE through remote learning while Jamatkhanas and RECs are physically inaccessible</b>. This opportunity also
		will
		provide some comfort, support, hope and resources in dealing with the current situation.
	</p>
	<p class="intro-three">For <b>Pre-Primary and Primary</b>, students will be engaged in learning through a Take-Home
		Package (THP) using the Tali’m Curriculum through modified at-home learning activities respective to
		PreK-KG, 1st-3rd grades and 4th-6th grades</p>
	<mat-toolbar class="hdr">Frequently asked questions: </mat-toolbar>
	<mat-accordion>
		<!-- Question 1 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>When will this happen?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Families will be sent a packet every other week. <br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · <b>March 27th</b>: Week 1 and Week 2 Packet.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · <b>April 10th</b>: Week 3 and Week 4 Packet.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · <b>April 24th</b>: Week 5 and Week 6 Packet.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · <b>May 8th</b>: Week 7 and Week 8 Packet.<br>
			</p>
		</mat-expansion-panel>
		<!-- Question 2 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>When are packets due?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Deadline will be provided in the packet.</p>
		</mat-expansion-panel>
		<!-- Question 3 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>How will attendance be marked?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Attendance will be tracked by sending a picture of the completed activity in the packet to the
				teacher each week. </p>
		</mat-expansion-panel>
		<!-- Question 4 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What will you and your child need in order to complete the packet?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Technology</p>
			<p>&#9673; Tal’im Curriculum</p>
			<p>&#9673; Writing Utensils</p>
			<p>&#9673; Things around your home</p>
		</mat-expansion-panel>
		<!-- Question 5 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What is the communication process?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; You will receive the packet by Saturday morning by email from the teacher.</p>
			<p>&#9673; Your child’s class teacher(s) will reach out to you every other week to provide any support and
				follow up for packet completion. </p>
		</mat-expansion-panel>
		<!-- Question 6 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>Who is the main point of contact during this time?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Your child’s teacher.</p>
			<p>&#9673; You may contact Principal. <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Sahir Keshwani at <a href="tel:1 (312) 925-1155">(312)
					925-1155</a> or <a href="mailto:sahirkeshwani@yahoo.com">sahirkeshwani@yahoo.com</a>
			</p>
		</mat-expansion-panel>

		<p class="intro-bottom-one">
			We thank you from the bottom of our hearts for the support in making this endeavor successful. We admire
			your strength and patience and are here for you. If you have any questions regarding RE for your children
			during this unprecedented time, please feel free to reach out to us.</p>
		<p class="intro-bottom-two">
			Please also look through the resources in the attached PDF that may be useful for you and your children
			during this time.
		</p>

	</mat-accordion>
</div>