.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* Header/Logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #9370db;
  color: white;
}

body {
  font-family: Arial;
}

.datehdr {
  background-color: #e0ffff;
}

.primary-style {
  padding: 15px;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #c1ffc1;
}
