<div class="primary-style">
	<p class="intro-one">All parents should have received an email from their children’s REC teacher with their first
		<b>“RE at Home”</b> packet. If you have not received an email from the teacher, please let us know.
	</p>
	<p class="intro-two">
		A total of 8 lessons will be sent weekly on Saturdays by email from teachers. Attendance will be tracked weekly
		by submitting a picture of at least 1 completed activity with the child and teacher's name on the page to the
		teacher, which will be due the following week with the first week’s activities due on <u>Saturday, April
			4th</u>.</p>
	<p class="intro-three">
		RE at Home Lessons require Talim, Activity and Farmaan books from the list below. If you like to order these
		books, please Reply All to the announcement email by <u>Saturday, April 4th</u> with your Mailing Address,
		Contact
		(Phone/Email) and items you like to order. </p>
	<mat-toolbar class="hdr">REC Books: </mat-toolbar>
	<mat-accordion>
		<!-- Question 1 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						menu_book
					</i>&nbsp;&nbsp; <b>Ta’lim Sets:</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Grade Pre-K/KG - <b>$15</b><br>
				&#9673; 1st Grade to 6th Grade - <b>$25</b><br>
			</p>
		</mat-expansion-panel>
		<!-- Question 2 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						menu_book
					</i>&nbsp;&nbsp; <b>Activity Books:</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; 1st Grade to 6th Grade - <b>$2</b></p>
		</mat-expansion-panel>
		<!-- Question 3 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						menu_book
					</i>&nbsp;&nbsp; <b>Parent Child Journal PCJ’s</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; 1st Grade to 6th Grade - <b>$5</b></p>
			<p class="warning"><u>Please Note</u>: PCJ’s Grade 1st and 3rd are currently out of stock</p>
		</mat-expansion-panel>
		<!-- Question 4 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						menu_book
					</i>&nbsp;&nbsp; <b>Farman Books Set:</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; For all - <b>$10</b></p>
		</mat-expansion-panel>
	</mat-accordion>
</div>