<div class="primary-style">
	<div class="intro">
		<h4>Annoucement for Pre-Primary & Primary:</h4>
		<hr>
		<p class="intro-one">&#9673; All parents should have received an email from their children’s REC teacher with
			their
			first
			<b>“RE at Home”</b> packet. If you have not received an email from the teacher, please let us know.
		</p>
		<p class="intro-two">&#9673;
			Attendance will be tracked weekly by submitting a picture of at least 1 completed activity with the child
			and teacher's name on the page to the teacher, which will be due the following week with the first week’s
			activities due on <u>Saturday, April 11th</u>.</p>
		<p class="intro-three">&#9673;
			Each teacher will follow up, at least, biweekly with their class individually, or in smaller groups. </p>
	</div>
	<mat-card>
		<h4>Survey:</h4>
		<hr>
		<p>We would like to collect feedback from families regarding their experience with the RE at Home for Pre-K to
			Grade
			6. This is an optional survey; however, we would like to receive as much feedback as possible.</p>
		<hr>
		<a href="https://nitreb-forms.theismailiusa.org/view.php?id=627243" target="_blank"><button
				class="button news cdc">RE at
				Home <br> Family Survey</button></a>
	</mat-card>
	<!-- <mat-toolbar class="hdr">REC Books: </mat-toolbar> -->
	<mat-accordion>
		<!-- Question 1 -->
		<!-- <mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title>
					<i class="material-icons">
						menu_book
					</i>&nbsp;&nbsp; <b>Ta’lim Sets:</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Grade Pre-K/KG - <b>$15</b><br>
				&#9673; 1st Grade to 6th Grade - <b>$25</b><br>
			</p>
		</mat-expansion-panel> -->
	</mat-accordion>
</div>