.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* Header/Logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #9370db;
  color: white;
}

body {
  font-family: Arial;
}

.footer-copyright {
  padding-left: 15px;
}
