<div class="general-style">
	<h4>General Announcement:</h4>
	<hr>
	<p>&#9673; As we are all adjusting to new schedules, with school closures and virtual/ home based learning, REC is
		also
		remaining closed until further notice and is implementing RE lessons at home.
	</p>

	<p>&#9673; <u>Please note</u>: The updated announcement details for Pre-Primary/Primary/Secondary can be found on
		the
		respective
		tabs on
		the top!
	</p>

	<p>&#9673; We understand that these changes will be difficult, but we appreciate your cooperation as we all adjust
		to new
		means of learning.
	</p>
	<p>&#9673;
		We thank you from the bottom of our hearts for the support in making this endeavor successful. We admire
		your strength and patience and are here for you. If you have any questions regarding RE for your children
		during this unprecedented time, please feel free to reach out to us.</p>
	<p class="aga-quote"> <i>"Fortunately, just as fear can be infectious, so the hope is infectious"</i>
		- <u>His Highness the Aga Khan, Aiglon College Switzerland, 2014</u></p>
</div>