<div class="general-style">
	<h3>IMPORTANT ANNOUNCEMENT:</h3>
	<p>We hope you and your families are keeping well in light of these uncertain times. From the DC REC team, we would
		like to convey our deepest appreciation for your understanding in these trying times. We miss our students
		greatly and since REC is postponed indefinitely, we are making efforts to adapt remote REC learning.
	</p>

	<p>Please note the details of virtual REC implementation on the above tabs!
	</p>

	<p>We understand that these changes will be difficult, but I appreciate your cooperation as we all adjust to new
		means of learning.
	</p>
	<p class="aga-quote"> <i>"Fortunately, just as fear can be infectious, so the hope is infectious"</i>
		- <u>His Highness the Aga Khan, Aiglon College Switzerland, 2014</u></p>
</div>