.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* Header/Logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #9370db;
  color: white;
}

body {
  font-family: Arial;
}

.primary-style {
  padding: 15px;
}

.calendar {
  width: 100%;
  height: 80vh;
}

::ng-deep #td-print-image-id {
  display: none !important;
}

.warning-expansion,
.calendar-expansion {
  border: 0.8px solid black;
}

.warning-expansion,
.warning-expansion:hover,
.warning-expansion:focus {
  background-color: rgba(230, 84, 84, 0.897) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.calendar-expansion,
.calendar-expansion:hover,
.calendar-expansion:focus {
  background-color: #e0ffff !important;
}

.about-warning,
.about-calendar {
  font-size: 18px;
}

.info-btn {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.info-btn:hover {
  background-color: #2a4d2c; /* Green */
}
