.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* Header/Logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #9370db;
  color: white;
}

body {
  font-family: Arial;
}

.calendar-expansion {
  border-style: solid solid solid solid;
  border-width: 0.5px;
  background-color: #e0ffff;
  height: 25px !important;
}

.primary-style {
  padding: 15px;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #c1ffc1;
}

.calendar {
  width: 100%;
  height: 80vh;
}

::ng-deep #td-print-image-id {
  display: none !important;
}

.about-calendar {
  font-size: 15px;
  padding-top: 2px;
}

.calendar-expansion {
  border: 0.8px solid black;
  height: 23px;
}
