<div class="secondary-style">
	<h4>Annoucement for Secondary:</h4>
	<hr>
	<p class="intro-two">&#9673; <b><u>Secondary RE Spotlight</u></b>: It will be shared each week to read and to
		understand key
		messages after the lesson and some suggestions for
		at-home activities to extend learning after class is finished. We encourage parents to complete at least one
		activity with their children each week. Please find the Video below for Secondary RE Spotlight #1 which
		includes:
	</p>
	<!-- <mat-toolbar class="hdr">REC Books: </mat-toolbar> -->
	<mat-accordion>
		<!-- Video 1 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title>
					<i class="material-icons">
						ondemand_video
					</i>&nbsp;&nbsp; <b>Video in English</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<br>
			<div class="responsive-video"><iframe class="video"
					src="https://drive.google.com/file/d/11EANK342XwoiDjiZ1262c0cxaKHc4QLS/preview"
					frameborder="0"></iframe></div>

		</mat-expansion-panel>
		<!-- Video 2 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title>
					<i class="material-icons">
						ondemand_video
					</i>&nbsp;&nbsp; <b>Video in Urdu</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<br>
			<div class="responsive-video"><iframe class="video"
					src="https://drive.google.com/file/d/12nKrpA8o9JCCVTbcsdfDsCw2PceBvPZ2/preview"
					frameborder="0"></iframe></div>
		</mat-expansion-panel>
		<!-- Video 3 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr" collapsedHeight="2.5rem" expandedHeight="2.5rem">
				<mat-panel-title>
					<i class="material-icons">
						ondemand_video
					</i>&nbsp;&nbsp; <b>Video in Farsi</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<br>
			<div class="responsive-video"><iframe class="video"
					src="https://drive.google.com/file/d/1Dw4PM2glSMO1DfFUH9O8tHOTgOcDr7jQ/preview"
					frameborder="0"></iframe></div>
		</mat-expansion-panel>
	</mat-accordion><br>
	<p>&#9673; <b><u>Zoom concerns</u></b>: As you may be aware that Zoom has been in the media and concerns of its
		security and
		privacy have been raised.
		The safety, security, and well-being of our users on zoom, including students and teachers, are of utmost
		importance to us. Any intentional effort to compromise this will not be treated lightly or tolerated. During the
		transition to online learning, we are closely monitoring for risks that could affect the experience for our RE
		programs and its users and adjust our strategy accordingly. Flyers have been shared on the WhatsApp groups with
		specific details. </p><br>
	<table id="rec-clases">
		<tr>
			<th>Grade</th>
			<th>Teachers</th>
			<th>Day/Timing</th>
		</tr>
		<tr>
			<td>7th</td>
			<td>Noordin Moloo,<br>Karishma Lakhani</td>
			<td>Saturdays,<br> 3:00pm - 5:00pm</td>
		</tr>
		<tr>
			<td>8th</td>
			<td>Laila Lakhani,<br>Aashna Panjwani</td>
			<td>Saturdays,<br> 3:00pm - 5:00pm</td>
		</tr>
		<tr>
			<td>9th & 10th</td>
			<td>Aleezah Merali,<br>
				Altaf Jiwani,<br>
				Zoya Ramzan
			</td>
			<td>Saturdays,<br> 2:00pm - 4:00pm</td>
		</tr>
		<tr>
			<td>11th & 12th</td>
			<td>Irfan Mithani</td>
			<td>Thursdays,<br> 5:30pm - 7:30pm</td>
		</tr>

	</table>
	<p>&#9673; Unique registration links, log on details and a class-specific invite card will be sent very soon. We
		appreciate
		your patience and support as we organize and provide virtual learning to the students as quickly as possible!
	</p>
</div>