<div class="secondary-style">
	<p class="intro-two">Starting <u>April 1st</u>, all secondary REC will be conducted virtually for the next <b>8
			weeks</b>.
		All
		classes will be led by our SRM teachers on the following class topics:
	</p>
	<ol>
		<li>E-learning 101, Classroom Community</li>
		<li>Hope, Faith, and Guidance</li>
		<li>Sacred Spaces</li>
		<li>Power of Prayer</li>
		<li>Ibadat and Identity</li>
		<li>Ramadan and Fasting</li>
		<li>Expressions of Care and Compassion</li>
		<li>Celebration of Learning</li>
	</ol>
	<table id="rec-clases">
		<tr>
			<th>Grade</th>
			<th>Teachers</th>
			<th>Day/Timing</th>
			<th>Virutal Day</th>
		</tr>
		<tr>
			<td>7th</td>
			<td>Noordin Moloo,<br>Karishma Lakhani</td>
			<td>Saturdays,<br> 2:30pm - 6:00pm</td>
			<td>Saturdays,<br> 3:00pm - 5:00pm</td>
		</tr>
		<tr>
			<td>8th</td>
			<td>Laila Lakhani,<br>Aashna Panjwani</td>
			<td>Saturdays,<br> 2:30pm - 6:00pm</td>
			<td>Saturdays,<br> 3:00pm - 5:00pm</td>
		</tr>
		<tr>
			<td>9th & 10th</td>
			<td>Aleezah Merali,<br>
				Altaf Jiwani,<br>
				Zoya Ramzan
			</td>
			<td>Saturdays,<br> 2:30pm - 6:00pm</td>
			<td>Saturdays,<br> 2pm - 4pm</td>
		</tr>
		<tr>
			<td>11 & 12</td>
			<td>Irfan Mithani</td>
			<td>Saturdays,<br> 2:30pm - 6:00pm</td>
			<td>Thursdays,<br> 5:30pm - 7:30pm</td>
		</tr>

	</table>
	<p>Unique registration links, log on details and a class-specific invite card will be sent very soon. We appreciate
		your patience and support as we organize and provide virtual learning to the students as quickly as possible!
	</p>
</div>