<div class="secondary-style">
	<p class="intro-two">RE is an opportunity for students to learn about our faith, the values that it brings and what
		it means for our children to be Shia Ismaili Muslims. <b>We want to continue this learning, and provide access
			to
			RE through remote learning while Jamatkhanas and RECs are physically inaccessible</b>. This opportunity also
		will
		provide some comfort, support, hope and resources in dealing with the current situation.
	</p>
	<p class="intro-three">At the <b>Secondary level (STEP, SRM & SHARE)</b>, students will be engaging in Virtual
		Learning
		(VL) using the cross curriculum connections and the IIS Secondary Curriculum Aims for 7th-12th grades.</p>
	<mat-toolbar class="hdr">Frequently asked questions: </mat-toolbar>
	<mat-accordion>
		<!-- Questions 1 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>When will this happen?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; <b>Some centers will be piloting this next Saturday, March 28th</b>. We will communicate more
				details
				with you if your child is part of one of the pilot classes.
			</p>
			<p>&#9673; <b>Classes will officially begin the week of Wednesday, April 1st through April 4th, 2020</b> and
				will
				be held on the day that your child has been attending REC before Jamatkhana and RE closures. Timings of
				classes will be shared very soon.

			</p>
		</mat-expansion-panel>
		<!-- Question 2 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What are the class days and times?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Your child will log on to zoom on the day that they have been attending REC during the year.
			</p>
			<p>&#9673; Timings of classes will be shared very soon.
			</p>
		</mat-expansion-panel>
		<!-- Question 3 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What will your child need in order to be prepared for VL classes?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Access to good quality internet
			</p>
			<p>&#9673; Access to a laptop or computer (in some cases a tablet will work)
			</p>
			<p>&#9673; Physical space with no distractions
			</p>
			<p>&#9673; Headphones
			</p>
			<p>&#9673; Mental space to be focused and able to learn
			</p>
			<p>&#9673; The Unique Zoom Link for their specific teacher/class
			</p>
			<p>&#9673; Download the zoom software on your computer/laptop (or tablet) that will be used for the virtual
				learning platform <a href="https://zoom.us/download">https://zoom.us/download</a>
			</p>
		</mat-expansion-panel>
		<!-- Question 4 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>Who is the main point of contact during this time?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Please reach out to:<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Seema Poputya at <a href="tel:1 (571) 224-2056">(571)
					224-2056</a> or <a href="mailto:seema.poputya@gmail.com">seema.poputya@gmail.com</a><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Peenaz Mistry at <a href="tel:1 (707) 391-4113"> (707)
					391-4113</a> or <a href="mailto:peenazmistry@gmail.com">peenazmistry@gmail.com </a>
			</p>
			<p>&#9673; For class-specific questions, please reach out to the respective class teacher.
			</p>
		</mat-expansion-panel>
		<!-- Question 5 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What support do we need from you?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Talk to your child about the importance of attending these classes while REC remains closed.
			</p>
			<p>&#9673; Work with your family to ensure that your child is physically and mentally prepared for class.
			</p>
			<p>&#9673; Gently remind students of class day and time.
			</p>
			<p>&#9673; Help them complete any at-home discussions or tasks after each class.
			</p>
			<p>&#9673; Provide feedback to Seema Poputya at <a
					href="mailto:seema.poputya@gmail.com">seema.poputya@gmail.com</a> as needed.
			</p>
		</mat-expansion-panel>
		<!-- Question 6 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header class="datehdr">
				<mat-panel-title>
					<i class="material-icons">
						question_answer
					</i>&nbsp;&nbsp; <b>What if I don’t have access to technology?</b>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>&#9673; Please let us (the management team) know what you need. We will do our best to support where we
				can.
			</p>
			<p>&#9673; In cases where computers or laptops are not available, students may use their phones. However,
				students will have the best experience through computer/laptop.
			</p>
		</mat-expansion-panel>
		<p class="intro-bottom-one">
			We thank you from the bottom of our hearts for the support in making this endeavor successful. We admire
			your strength and patience and are here for you. If you have any questions regarding RE for your children
			during this unprecedented time, please feel free to reach out to us.</p>
		<p class="intro-bottom-two">
			Please also look through the resources in the attached PDF that may be useful for you and your children
			during this time.
		</p>

	</mat-accordion>
</div>