.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* Header/Logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #9370db;
  color: white;
}

body {
  font-family: Arial;
}

.datehdr {
  background-color: #e0ffff;
}

.secondary-style {
  padding: 15px;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #c1ffc1;
}

.secondary-style {
  padding: 15px;
}

#rec-clases {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#rec-clases td,
#rec-clases th {
  border: 1px solid #ddd;
  padding: 8px;
}

#rec-clases tr:nth-child(even) {
  background-color: #f2f2f2;
}

#rec-clases tr:hover {
  background-color: #ddd;
}

#rec-clases tr:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#rec-clases {
  font-size: 17px;
}

@media screen and (max-width: 1000px) {
  #rec-clases {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  #rec-clases {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  #rec-clases {
    font-size: 11px;
  }
}
