<div class="more-info">
	<mat-card>To enroll for receiving Jamatkhana closure information and other emergency alerts via text/SMS, please
		send an <b>SMS to 94502</b> and enter <b>“WDC”</b> in the contents of the text.<br>
		<hr>
		<a href="sms:94502"><button class="button enroll">Enroll</button></a>
		<span class="material-icons msg-error" (click)="showErr = !showErr">
			error
		</span>
		<p *ngIf="showErr" class="msg-err">In case if you receives an error while attempting to opt in to Mass Texting
			Tool, in such
			rare cases please
			reach out to your local telephone carriers to adjust some carrier settings associated with your account.
		</p>
	</mat-card><br>
	<mat-card>For Confidential assistance, you can reach out to the <b>ACCESS</b> hotline on <a
			href="tel:+1-844-552-2237"><button class="button info-btn">844-552-2237</button></a>.<br>
		<hr>
		<a href="tel:+1-844-552-2237"><button class="button enroll">Call ACCESS</button></a>
	</mat-card>
</div>