<!-- <p class="intro-one">
	We hope you and your families are keeping well in light of these uncertain times. While there may be much to fear,
	it is important for all of us to be hopeful and provide our children a hope for a better tomorrow. <p>
		<p class="intro-two">RE is an opportunity for students to learn about our faith, the values that it brings and
			what it means for our children to be Shia Ismaili Muslims. We want to continue this learning, and provide
			access to RE through remote learning while Jamatkhanas and RECs are physically inaccessible. This
			opportunity also will provide some comfort, support, hope and resources in dealing with the current
			situation.RE is an opportunity for students to learn about our faith, the values that it brings and what it
			means for our children to be Shia Ismaili Muslims. We want to continue this learning, and provide access to
			RE through remote learning while Jamatkhanas and RECs are physically inaccessible. This opportunity also
			will provide some comfort, support, hope and resources in dealing with the current situation.
		</p>
		<p class="intro-three">For Pre-Primary and Primary, students will be engaged in learning through a Take-Home
			Package (THP) using the Tali’m Curriculum through modified at-home learning activities respective to
			PreK-KG, 1st-3rd grades and 4th-6th grades
		</p>





















		<mat-toolbar class="hdr">Announcements for the following dates: </mat-toolbar>
		<mat-accordion>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="datehdr">
					<mat-panel-title>
						<i class="material-icons">
							date_range
						</i>&nbsp;&nbsp; <b>March 14th Announcements</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; Come See Us Shine (CSUS) event at Mary Ellen Henderson Middle School is canceled. In light of
					the
					current uncertainty, each class will be recording a video of their CSUS performance. Please watch
					for
					communication from your respective teachers, as to when your child(ren)'s classes will be doing so.
				</p>
				<p>&#9673; REC will be conducting regularly scheduled classes but in the abundance of caution, if the
					child is
					absent, they will be marked “excused” in this special circumstance.</p>
			</mat-expansion-panel>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="datehdr">
					<mat-panel-title>
						<i class="material-icons">
							date_range
						</i>&nbsp;&nbsp; <b>March 21st Announcements</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Navroz Celebration</b>: Morning Navroz Celebration is cancelled and REC is closed.</p>
			</mat-expansion-panel>
		</mat-accordion>

		<mat-toolbar class="hdr">Announcements for March 7th</mat-toolbar>
		<mat-accordion>
			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="gradehdr">
					<mat-panel-title>
						<i class="material-icons">
							book
						</i>&nbsp;&nbsp; <b>Pre-Primary Announcements</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Timing</b>: 4:00 p.m. - 5:30 p.m.</p>
				<p>&#9673; <b>CSUS practice</b>: 5:50 p.m. - 6:20 p.m.</p>
				<p>&#9673; <b>Calendar Link</b>: <a
						href="http://clt1091549.benchurl.com/c/l?u=95FE6CF&e=EDBC55&c=10A7DD&t=1&email=v%2FHYssDXD9knixcF2v8ssEyPBhzqZXIgBJcAT8xErqg%3D&seq=1">Pre-Primary</a>
				</p>
				<p>&#9673; No REC classes on March 21st.</p>
				<p>&#9673; <b>Spring Break REC closure dates</b>: April 4th & 11th.</p>
			</mat-expansion-panel>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="gradehdr">
					<mat-panel-title>
						<i class="material-icons">
							book
						</i>&nbsp;&nbsp; <b>Primary Announcements</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Timing</b>: 3:00 p.m. - 6:15 p.m</p>
				<p>&#9673; <b>Rites & Ceremonies</b>: At 6:20 p.m. in the KG classroom.</p>
				<p>&#9673; No REC classes on March 14th and March 21st</p>
				<p>&#9673; <b>Spring Break REC closure dates</b>: April 4th & 11th</p>
				<p>&#9673; <b>Calendar Link</b>: <a
						href="https://docs.google.com/spreadsheets/d/1tZRKOdMdmsHgXrERlhHaEhjC6_3ZWaLAxC6ApjhGcRg/edit?usp=drivesdk">Primary</a>
				</p>
			</mat-expansion-panel>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="gradehdr">
					<mat-panel-title>
						<i class="material-icons">
							book
						</i>&nbsp;&nbsp;<b>Secondary Announcements</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Timing</b>: 2:30 p.m. - 6:00 p.m.</p>
				<p>&#9673; <b>March 14th class</b>: Guest Speaker, Nadir Shah, will be facilitating an art workshop on
					Navroz
					and its significance within the Ismaili tradition. Students will explore the personal meaning and
					significance
					of this event in the lives of the individual students and analyze how they can inspire the notion of
					renewal
					in their own lives.
				</p>
				<p>&#9673; No REC on March 21st. </p>
				<p>&#9673; <b>Spring Break REC closure dates</b>: April 4th & 11th</p>
				<p>&#9673; <b>Calendar Link</b>: <a
						href="http://clt1091549.benchurl.com/c/l?u=95FE6D2&e=EDBC55&c=10A7DD&t=1&email=v%2FHYssDXD9knixcF2v8ssEyPBhzqZXIgBJcAT8xErqg%3D&seq=1">Secondary</a>
				</p>
			</mat-expansion-panel>
		</mat-accordion>

		<mat-toolbar class="hdr">General Announcements</mat-toolbar>
		<mat-accordion>
			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="genhdr">
					<mat-panel-title>
						<i class="material-icons">
							fastfood
						</i>&nbsp;&nbsp; <b>Snacks</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; Please <b>send lunch/snack or dinner</b> with your child. No snacks will be served by REC.
				</p>
			</mat-expansion-panel>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="genhdr">
					<mat-panel-title>
						<i class="material-icons">
							chrome_reader_mode
						</i>&nbsp;&nbsp; <b>Varo</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Each One Teach One</b> enrollment is ongoing. Please sign up using the link <a
						href="http://clt1091549.benchurl.com/c/l?u=95FE6D3&e=EDBC55&c=10A7DD&t=1&email=v%2FHYssDXD9knixcF2v8ssEyPBhzqZXIgBJcAT8xErqg%3D&seq=1">here</a>!
					For any
					questions
					related to Buddy Assignments, please reach out to Roseleen Charania</p>
				<p>&#9673; Please contact Nazlin Pepermintwala for vetting.</p>
				<p>&#9673; For weekdays Varo (Sunday-Thursday), contact Jamati Varo committee. <br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Aziz Pepermintwala: 703-402-0324<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Amin Virani: 703-362-2360<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; · Asif Balsara: 703-801-6784<br>
				</p>
			</mat-expansion-panel>

			<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
				<mat-expansion-panel-header class="genhdr">
					<mat-panel-title>
						<i class="material-icons">
							games
						</i>&nbsp;&nbsp; <b>Chess Club</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<hr>
				<p>&#9673; <b>Chess club Meet</b>: No Chess Club on March 14th and March 21st. </p>
				<p>&#9673; Our chess club meet will resume on March 28th at 1:30 p.m.</p>
			</mat-expansion-panel>
		</mat-accordion> -->